@import url('https://fonts.googleapis.com/css2?family=Poppins&display=swap');
@import url('https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.4.2/css/all.min.css');

html {
    font-family: 'Poppins', sans-serif;
    scroll-behavior: smooth;
}

body {
    text-align: center;
}

.news-title {
  font-family: 'Poppins', sans-serif;
  font-size: 4rem;
  text-align: left !important;
  font-weight: 800;
}

.news-text {
  font-family: 'Poppins', sans-serif;
  font-size: 1.5rem;
  text-align: left !important;
  font-weight: 400;
}

/* Style pour les liens */
a {
   color: #007bff;
   text-decoration: none;
   border-bottom: 2px solid transparent; /* Ajoute un effet de soulignement au survol */
   transition: border-color 0.2s ease-in-out;
}

a:hover {
   border-color: #007bff; /* Couleur de l'effet de soulignement au survol */
}

.Copyright a {
   color: #555;
   text-decoration: none;
   border-bottom: 2px solid transparent; /* Ajoute un effet de soulignement au survol */
   transition: border-color 0.2s ease-in-out;
}

.Copyright a:hover {
   border-color: #555; /* Couleur de l'effet de soulignement au survol */
}

section {
   max-width: 800px;
   margin: 0 auto;
   padding: 20px;
   background-color: #fff;
   border-radius: 5px;
   box-shadow: 0 0 5px rgba(0, 0, 0, 0.2);
   margin-bottom: 20px;
}

img {
   width: 100%;
}

h1 {
    margin : 0;
}
nav {
    position: fixed;
    display: flex;
    justify-content: center;
    background-color: #444;
    padding: 10px;
    margin-bottom: 5px;
    margin-top: 5px;
    border-radius: 5px;
}
nav a {
    color: white;
    text-decoration: none;
    margin: 0 20px;
    transition: color 0.3s;
    text-align: center;
}
nav a:hover {
    color: #ff9900;
}

#footer .hover:underline {
    color : #666;
}
h2 {
    font-size: 20px;
    margin-top: 0;
}
p {
    font-size: 16px;
    margin: 10px 0;
}
input[type="text"] {
    padding: 10px;
    width: 90%;
    font-size: 15px;
    border: 1px solid #ccc;
    border-radius: 5px;
}
button {
    background-color: #007bff;
    color: #fff;
    border: none;
    padding: 10px 20px;
    font-size: 16px;
    cursor: pointer;
    border-radius: 5px;
    margin-top: 10px;
    transition: background-color 0.3s;
}
button:hover{
    background-color: #238eff;
}

/* Style pour le bouton "En savoir plus */
#button {
    position: relative;
    padding: 10px 20px;
    background-color: #333;
    color: #fff;
    cursor: pointer;
    transition: background-color 0.3s;
    border-radius: 5px;
}

/*      CSS POUR ACCEUIL        */

#loader {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0);
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    color: white;
    z-index: 999;
    transtion: display 2s;
}

#loader-spinner {
    border: 6px solid #f3f3f3;
    border-top: 6px solid #3498db;
    border-radius: 50%;
    width: 50px;
    height: 50px;
    animation: spin 2s linear infinite;
}

@keyframes spin {
    0% { transform: rotate(0deg); }
    100% { transform: rotate(360deg); }
}

.release-container {
    background-color: white;
    padding: 20px;
    margin: 10px 0;
    border-radius: 5px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.5);
}

.github-releases-container {
    background-color: white;
    padding: 20px;
    margin: 10px 0;
    border-radius: 5px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.5);
    display: flex;
}

.modem {
    max-width: 400px;
}

.game-list {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    margin: 20px;
}
.game {
    width: 300px;
    margin: 20px auto;
    border: 1px solid #ccc;
    padding: 10px;
    background-color: white;
    box-shadow: 0px 0px 5px rgba(0, 0, 0, 0.2);
    transition: transform 0.3s;
    align-items: center;
    text-align: center;
}
.game:hover {
    transform: scale(1.05);
}
.game img {
    object-fit: cover;
   /* Rogner et agrandir tout en préservant les proportions */
    min-width: 300px;
    min-height: 300px;
    max-width: 300px;
    max-height: 300px;
    width: auto;
    height: auto;
}
.play-button {
    background-color: #ff9900;
    color: white;
    padding: 5px 15px;
    border: none;
    cursor: pointer;
    text-decoration: none;
    display: block;
    margin-top: 10px;
    font-weight: bold;
    transition: background-color 0.3s;
}
.play-button:hover {
    background-color: #ff6600;
}

.container {
    height: 100%;
    width: 100%;
    align-items: center; /* Pour aligner verticalement les éléments au centre */
}

.heart {
    width: 25px;
    height: 25px; /* Définir également la hauteur pour maintenir le ratio */
    margin-left: 10px;
    margin-right: 10px; /* Ajouter une marge à droite pour l'espace */
    background-color: transparent;
    font-size: 50px;
    cursor: pointer;
    transition: color 0.3s ease, transform 0.3s ease;
    display: flex; /* Utiliser display flex pour aligner le contenu */
    align-items:center; /* Aligner verticalement le contenu */
    vertical-align: middle;
    padding-top: 15px;
    justify-content: center; /* Aligner horizontalement le contenu */
}

.heart:hover {
    transform: scale(1.05);
}

.heart::before {
    content: '\2665';
}

.heart.clicked::before {
    color: red;
}

.heart.clicked {
    transform: scale(1);
}
#toggle:checked + .container .square:not(.clicked) {
    display: none;
}

#toggle:not(:checked) + .container .square.clicked {
    display: none;
}

#toggleBtn {
    /* Vos styles existants */
    transition: transform 0.5s ease-in-out; /* Ajout de la transition */
}
