.containers {
    padding: 20px;
    border-radius: 10px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    margin: 10px;
    width: 300px;
}
.result {
    margin-top: 10px;
    font-weight: bold;
    word-wrap: break-word;
}
code {
    padding: 2px 4px;
    border-radius: 5px;
    background-color: rgb(56, 55, 55);
    color: aliceblue;
}
.example {
    padding: 15px;
    border-radius: 10px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    margin-top: 20px;
    margin:auto;
    width: max-content;
}
.example-code {
    padding: 10px;
    border-radius: 5px;
    margin-bottom: 10px;
    font-size: 1.1em;
    font-weight: bold;
}
.copy-button {
    display: none;
    right: 10px;
    top: 5px;
    position: absolute;
    background-color: rgba(134, 134, 134, 1);
}
li {
    position: relative;
}
li:hover .copy-button {
    display: inline;
}