.container .list-unstyled {
    display: flex;
    flex-direction: column;
    align-items: center;
}
body, html {
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}

.container {
    text-align: center;
}
