
.memory-card {
    width: 100%; /* Cartes prennent toute la largeur de la cellule de la grille */
    height: 0;
    padding-bottom: 100%; /* Cartes avec un ratio 1:1 (carré) */
    background-color: #2e3d49;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 16px; /* Taille de la police réduite pour les appareils mobiles */
    color: #fff;
    cursor: pointer;
    border-radius: 10px;
    transform-style: preserve-3d;
    perspective: 1000px;
    transition: transform 0.6s;
}

/* Media query pour les appareils mobiles */
@media screen and (max-width: 767px) {
    .memory-card {
        font-size: 14px; /* Taille de la police encore plus réduite pour les appareils mobiles */
    }
}


.memory-card.flipped {
    transform: rotateY(180deg);
    background-color: #c7c1c1;
}

.memory-card:hover {
    background-color: #627482; /* Couleur de fond au survol */
}

.memory-card.matched {
    visibility: hidden;
}