/*** TAG SELECTORS ***/

body {
    background: #202028;
    color: #fff;
    font-family: sans-serif;
    text-align: center;
}

.Copyright a {
  color: #555;
  text-decoration: none;
  border-bottom: 2px solid transparent; /* Ajoute un effet de soulignement au survol */
  transition: border-color 0.2s ease-in-out;
}

.Copyright a:hover {
  border-color: #555; /* Couleur de l'effet de soulignement au survol */
}

h1 {
  margin : 0;
}

h2 {
  font-size: 20px;
  margin-top: 0;
}
p {
  font-size: 16px;
  margin: 10px 0;
}

nav {
  display: flex;
  justify-content: center;
  background-color: #444;
  padding: 10px;
  margin-bottom: 5px;
  margin-top: 5px;
  border-radius: 5px;
}
nav a {
  color: white;
  text-decoration: none;
  margin: 0 20px;
  transition: color 0.3s;
}
nav a:hover {
  color: #ff9900;
}

header {
    background-color: #333;
    color: white;
    padding: 20px;
    border-radius: 5px;
}

td {
  padding: 0 10px;
}

table {
  font-size: 1.5em;
}

#phone-incompatible-message {
  display: none;
}

@media screen and (max-width: 1000px) {
  /* Masquez le contenu du jeu */
  .container,
  .tetris,
  .stats,
  .next-piece,
  #game-over-window {
    display: none;
  }

  /* Affichez un message d'erreur */
  #phone-incompatible-message {
    display: block;
    text-align: center;
    padding: 20px;
    font-size: 18px;
    color: #fff;
    background-color: #ff0000;
    border-radius: 10px;
  }
}



/*** CLASS SELECTORS ***/

.game-over-box {
  display: none; /* Hidden by default */
  position: fixed; /* Stay in place */
  z-index: 1; /* Sit on top */
  padding-top: 100px; /* Location of the box */
  left: 0;
  top: 0;
  width: 100%; /* Full width */
  height: 100%; /* Full height */
  overflow: auto; /* Enable scroll if needed */
  background-color: rgb(0,0,0); /* Fallback color */
  background-color: rgba(0,0,0,0.4); /* Black w/ opacity */
}

.game-over-content {
  background-color: #202028;
  color: #fff;
  margin: auto;
  padding: 20px;
  border: 1px solid #888;
  text-align: left;
  width: 50%;
  border-radius: 5px;
  font-size: 1.5em;
}

.game-over-header {
  background-color: #202028;
  color: #DD2F21;
  margin: auto;
  padding: 20px;
  border: 1px solid #888;
  width: 50%;
  border-radius: 5px;
}

.next-piece {
    width: 20%;
    display: inline-block;
    position: absolute;
    right: 15%;
    font-size: 1.5em;
}

.stats {
    display: inline-block;
    width: 20%;
    text-align: left;
    position: absolute;
    left: 10%;
}

.tetris {
    width: 30%;
    display:inline-block;
}
button {
  background-color: #535353;
  color: #fff;
  border: none;
  padding: 10px 20px;
  font-size: 16px;
  cursor: pointer;
  border-radius: 5px;
  margin-top: 10px;
  width: 100%;
}

#instruction {
  background-color: #555;
  border-radius: 10px;
  color: #fff;
  font-size: 18px;
  display: block;
  padding: 20px;
  width: 100%;
  margin: 0 auto;
  margin-top: 10px;
  text-align: center;
}

#loader {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0);
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  color: white;
  z-index: 999;
  transtion: display 2s;
}

#loader-spinner {
  border: 6px solid #f3f3f3;
  border-top: 6px solid #3498db;
  border-radius: 50%;
  width: 50px;
  height: 50px;
  animation: spin 2s linear infinite;
}

@keyframes spin {
  0% { transform: rotate(0deg); }
  100% { transform: rotate(360deg); }
}

/* Styles spécifiques pour les écrans de petite taille (téléphone) */
@media (max-width: 767px) {
  #fullscreen-button {
      position: fixed;
      bottom: 65px; /* Ajustez la valeur pour définir la position verticale souhaitée */
      right: 7%; /* Centrez horizontalement sur les écrans de petite taille */
      transform: translateX(50%); /* Centrez horizontalement */
      z-index: 999;
  }
  #affichePC {
      display: none;
  }
}

#affichePC {
  margin-right: 8px; /* Ajoutez un peu d'espace entre le texte et l'icône */
}