@import url('https://fonts.googleapis.com/css2?family=Poppins&display=swap');
@import url('https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.4.2/css/all.min.css');

/* Réinitialisation des marges et des rembourrages par défaut */
body, h1, h2, h3, p {
    margin: 0;
    padding: 0;
}

body {
    font-family: Arial, sans-serif;
}

.container {
    @apply p-4 bg-white rounded-lg shadow-md max-w-screen-sm mx-auto;
}

h1 {
    @apply text-center text-4xl mb-8;
}

form {
    @apply text-center mb-8;
}

label {
    @apply font-bold block mb-5;
}

input[type="text"] {
    @apply w-4/5 p-4 border rounded-lg text-xl;
}

button {
    @apply bg-blue-500 text-white p-4 rounded-lg text-xl mt-4;
}

#weather-scroll {
    @apply flex justify-between items-center mb-4;
}

#scroll-left,
#scroll-right {
    @apply p-4 bg-gray-300 text-gray-700 rounded-full text-2xl;
}

#weather-days {
    @apply flex overflow-auto whitespace-no-wrap border rounded-lg shadow-md m-2;
}

.weather-day {
    @apply w-72 p-5 border text-center transition-transform duration-500 ease-in-out m-2 overflow-hidden text-ellipsis box-shadow;
}

.weather-day:last-child {
    border-right: none;
}

.weather-day h3 {
    @apply text-2xl mb-2;
}

.weather-day p {
    @apply text-xl my-2 text-ellipsis overflow-hidden text-ellipsis;
}

.weather-icons {
    width: 50px;
    height: 50px;
}

#retry-button {
    @apply bg-blue-500 text-white p-4 rounded-lg text-xl mt-8;
}
