#phone-incompatible-message {
    display: none;
}

#instruction {
    background-color: #555;
    border-radius: 10px;
    color: #fff;
    font-size: 18px;
    display: block;
    padding: 20px;
    width: 50%;
    margin: 0 auto;
    margin-bottom: 5px;
    text-align: center;
}

@media screen and (max-width: 740px) {
    /* Masquez le contenu du jeu */
    #pong-game-canva,
    #instruction{
        display: none;
    }
    /* Affichez un message d'erreur */
    #phone-incompatible-message {
      display: block;
      text-align: center;
      padding: 20px;
      font-size: 18px;
      color: #fff;
      background-color: #ff0000;
      border-radius: 10px;
  }
}
