/* Styles Markdown-like */
body {
    font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
    margin: 20px;
    padding: 0;
    line-height: 1.6;
    text-align: left;
}

h1 {
    font-size: 28px;
    margin: 20px 0;
}

h2 {
    font-size: 24px;
    margin: 18px 0;
}

h3 {
    font-size: 20px;
    margin: 16px 0;
}

p {
    margin: 10px 0;
}

ul, ol {
    margin: 10px 0;
    padding-left: 20px;
}

li {
    margin: 5px 0;
}

a {
    color: #0366d6; /* Couleur de lien Markdown */
    text-decoration: none;
}

a:hover {
    text-decoration: underline;
}

code {
    background-color: #f3f3f3;
    padding: 2px 4px;
    border: 1px solid #ccc;
    border-radius: 3px;
    font-family: "Courier New", Courier, monospace;
    font-size: 14px;
}

header {
    padding: 0.1px;
    margin-top: -10px;
    text-align: center;
}
img {
    min-width: 300px;
    min-height: 300px;
    max-width: 300px;
    max-height: 300px;
}