/* style.css */

/* Réinitialisation des marges et des rembourrages par défaut */
body, h1, h2, h3, p {
    margin: 0;
    padding: 0;
}

body {
    font-family: Arial, sans-serif;
    background-color: #f0f0f0;
}

.container {
    max-width: 800px;
    margin: 0 auto;
    padding: 20px;
    background-color: #fff;
    border-radius: 5px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.2);
}

h1 {
    text-align: center;
    margin-bottom: 20px;
    font-size: 32px;
    color: #333;
}

form {
    text-align: center;
    margin-bottom: 20px;
}

label {
    font-weight: bold;
    display: block;
    margin-bottom: 5px;
    color: #555;
}

input[type="text"] {
    width: 80%;
    padding: 10px;
    border: 1px solid #ccc;
    border-radius: 5px;
    font-size: 16px;
}

button {
    background-color: #007bff;
    color: #fff;
    padding: 12px 24px;
    border: none;
    cursor: pointer;
    font-size: 16px;
    margin-top: 10px;
    border-radius: 10px;
}

#weather-scroll {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin: 20px 0;
}

#weather-days {
    display: flex;
    overflow: auto; /* Activation du défilement horizontal */
    white-space: nowrap;
    border: 1px solid #ccc;
    border-radius: 5px;
    box-shadow: 0 0 5px rgba(0, 0, 0, 0.2);
    margin: 10px; /* Marge réduite pour des raisons de style */
}

.weather-day {
    flex: 0 0 auto;
    width: 240px; /* Ajustez la largeur des conteneurs de jour selon vos préférences */
    padding: 20px;
    background-color: #fff;
    border: 1px solid #ccc;
    text-align: center;
    transition: transform 0.5s ease-in-out;
    margin: 10px;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
    box-shadow: 0 0 5px rgba(0, 0, 0, 0.2);
    border-radius: 10px;
}

.weather-day:last-child {
    border-right: none;
}

.weather-day h3 {
    font-size: 20px;
    margin-bottom: 10px;
    color: #333;
}

.weather-day p {
    font-size: 18px;
    margin: 5px 0;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
    color: #555;
}

.weather-icons {
    width: 50px;
    height: 50px;
}

#scroll-left,
#scroll-right {
    background-color: #007bff;
    color: #fff;
    padding: 12px 24px;
    border: none;
    cursor: pointer;
    font-size: 24px;
    outline: none;
    flex: 0 0 auto;
    z-index: 1;
    border-radius: 50%;
    transition: background-color 0.3s ease-in-out;
}

#scroll-left:hover,
#scroll-right:hover {
    background-color: #0056b3;
}

#retry-button {
    background-color: #007BFF;
    color: #fff;
    border: none;
    padding: 10px 20px;
    font-size: 20px;
    border-radius: 5px;
    cursor: pointer;
    margin-top: 20px; /* Espacement du haut */
    width: 100%;
}

#retry-button:hover {
    background-color: #0056b3; /* Couleur au survol */
}

nav {
    display: flex;
    justify-content: center;
    background-color: #444;
    padding: 10px;
    margin-bottom: 5px;
    margin-top: 5px;
    border-radius: 5px;
}
nav a {
    color: white;
    text-decoration: none;
    margin: 0 20px;
    transition: color 0.3s;
}
nav a:hover {
    color: #ff9900;
}
