body {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    margin: 0;
    background-color: #f0f0f0;
    font-family: 'Noto Color Emoji', sans-serif;
}

.memory-game-container {
    display: grid;
    grid-template-columns: repeat(5, 100px);
    grid-template-rows: repeat(5, 100px);
    grid-gap: 10px;
}

.memory-card {
    width: 100px;
    height: 100px;
    background-color: #2e3d49;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 24px;
    color: #fff;
    cursor: pointer;
}

.memory-card.flipped {
    background: #FFF;
    color: #2e3d49;
}

.memory-card.matched {
    visibility: hidden;
}
