body {
    font-family: Arial, sans-serif;
}
header {
    background-color: #333;
    color: white;
    padding: 0.1px;
    border-radius: 10px;
    margin: 5px;
}

/* Style pour les liens */
a {
   color: #007bff;
   text-decoration: none;
   border-bottom: 2px solid transparent; /* Ajoute un effet de soulignement au survol */
   transition: border-color 0.2s ease-in-out;
}

a:hover {
   border-color: #007bff; /* Couleur de l'effet de soulignement au survol */
}

.Copyright a {
   color: #555;
   text-decoration: none;
   border-bottom: 2px solid transparent; /* Ajoute un effet de soulignement au survol */
   transition: border-color 0.2s ease-in-out;
}

.Copyright a:hover {
   border-color: #555; /* Couleur de l'effet de soulignement au survol */
}
nav {
    display: flex;
    justify-content: center;
    background-color: #444;
    padding: 10px;
    margin: 5px;
    border-radius: 10px;
}
nav a {
    color: white;
    text-decoration: none;
    margin: 0 20px;
    transition: color 0.3s;
    text-align: center;
}
nav a:hover {
    color: #ff9900;
}

/* Style pour le pied de page */
footer {
   margin-top: 20px;
   color: #666;
}

/* Style pour le bouton "Retour au hub de jeu" */
#return-button {
    position: relative;
    bottom: -10px;
    left: 40%;
    padding: 10px 20px;
    font-size: 18px;
    background-color: #333;
    color: #fff;
    border: none;
    cursor: pointer;
    transition: background-color 0.3s;
    text-decoration: none;
    border-radius: 5px;
}
#return-button:hover {
    background-color: #555;
}
#box {
    background-color: #333;
    border-radius: 10px;
    padding: 5px;
}

#left {
    float: left;
    text-align: left;
}

#bottom {
    margin-bottom: 5px;
}

li {
    list-style-type: circle;
}

li:hover {
    list-style-type: disc;
}

#loader {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0);
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    color: white;
}

#loader-spinner {
    border: 6px solid #f3f3f3;
    border-top: 6px solid #3498db;
    border-radius: 50%;
    width: 50px;
    height: 50px;
    animation: spin 2s linear infinite;
}

@keyframes spin {
    0% { transform: rotate(0deg); }
    100% { transform: rotate(360deg); }
}
